.OnOffButton {
  width: 42px;
  height: 42px;
  border: none;
  outline: none;
  padding: 0;
  background: none;
  cursor: pointer;
}

.OnOffButton_large {
  width: 80px !important;
  height: 80px !important;
}

.OnOffButton-Image {
  width: 100%;
  height: 100%;
}
