.Main {
  width: var(--container-width, 960px);
  height: 480px;
  margin: 0 auto;
  border: 1px solid gray;
  color: white;
}

.Main-Inner {
  display: flex;
  flex-direction: row;
}

.Main-Left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  border-right: 1px solid rgb(38, 36, 47);
  width: 570px;
  padding-right: 43px;
}

.Main-Right {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 390px;
  padding-left: 43px;
}

.Main-VideoSeparator {
  margin: 1.5rem 0;
  border-top: 1px solid rgb(38, 36, 47);
}
