.LoginForm-InputContainer {
  width: 278px;
  margin: auto;
  text-align: left;
}

.LoginForm-InputLabel {
  display: flex;
  align-items: center;
  margin-bottom: .5rem;
  font-weight: 300;
}

.LoginForm-InputLabelText {
  margin-left: .75rem;
}

.LoginForm-Input {
  width: 100%;
  height: 30px;
  border: none;
  padding: 0 .5rem;
  box-shadow: -1px 0px 4px 0px rgba(0, 0, 0, .5) inset;
  background-color: rgb(26, 24, 33);
}

.LoginForm-SubmitButton {
  width: 147px;
  height: 47px;
  border: none;
  margin-top: 4rem;
  background-image: url('./button.png');
  background-color: transparent;
  color: white;
  font-weight: 300;
  text-transform: uppercase;
}
