.App {
  color: white;
}

.App-Header {
  display: flex;
  align-items: center;
  height: 4rem;
  background: linear-gradient(to right, rgb(26, 24, 33), rgb(56, 53, 68));
  color: white;
  font-size: 1.5rem;
  font-weight: 300;
}

.App-Main {
  height: calc(100vh - 14rem);
  background-color: rgb(31, 29, 39);
}
