.SliderControl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 1rem;
}

.SliderControl-Separator {
  display: flex;
  height: 100%;
  border-left: 1px solid rgb(38, 36, 47);
}

.SliderControl-Name {
  font-weight: 300;
}

.SliderControl-SliderContainer {
  display: flex;
  align-items: center;
  width: 19rem;
}

.SliderControl-Mark {
  width: 4rem;
  text-align: center;
  color: rgb(69, 67, 80);
}
