.Belt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 1rem;
}

.Belt-Separator {
  display: flex;
  height: 100%;
  border-left: 1px solid rgb(38, 36, 47);
}

.Belt-Name {
  font-weight: 300;
}

.Belt-SliderContainer {
  display: flex;
  align-items: center;
  width: 18rem;
}

.Belt-SliderMark {
  width: 3rem;
  text-align: center;
  color: rgb(69, 67, 80);
}
